---
// import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About me!",
};

const profileResponse = await fetch(
	"https://en.pronouns.page/api/profile/get/retchohrips?version=2",
);
const profileData = await profileResponse.json();

const pronounResponse = await fetch("https://en.pronouns.page/api/pronouns/");
const pronounData = await pronounResponse.json();

const names = profileData.profiles.en.names;
const yesNames = names
	.filter((obj: { opinion: string }) => obj.opinion == "yes")
	.map((ele: { value: string }) => ele.value);
const okNames = names
	.filter((obj: { opinion: string }) => obj.opinion == "meh" || obj.opinion == "circle")
	.map((ele: { value: string }) => ele.value);

const pronouns = profileData.profiles.en.pronouns
	.filter(
		(obj: { opinion: string }) =>
			obj.opinion == "yes" || obj.opinion == "meh" || obj.opinion == "circle",
	)
	.map((ele: { value: never }) => ele.value);

const okPronouns = pronouns.map((pronoun: string) =>
	Object.values(pronounData[pronoun].morphemes).slice(0, 3).join("/"),
);

function compare(a: string, b: string) {
	let aTitle = a.toLowerCase();
	let bTitle = b.toLowerCase();

	aTitle = removeArticles(aTitle);
	bTitle = removeArticles(bTitle);

	if (aTitle > bTitle) return 1;
	if (aTitle < bTitle) return -1;
	return 0;
}

function removeArticles(str: string) {
	let words = str.split(" ");
	if (words.length <= 1) return str;
	if (words[0] == "a" || words[0] == "the" || words[0] == "an") return words.splice(1).join(" ");
	return str;
}

let music = [
	"My Chemical Romance",
	"Mitski",
	"Fall Out Boy",
	"CAKE",
	"The Front Bottoms",
	"Crywank",
	"Penelope Scott",
	"Lemon Demon",
	"Ethel Cain",
	"Against Me!",
	"Nirvana",
	"The Scary Jokes",
	"Car Seat Headrest",
	"Will Wood",
	"I DONT KNOW HOW BUT THEY FOUND ME",
	"Hole",
	"The Dresden Dolls",
	"Laura Les",
	"Hozier",
	"Florence + the Machine",
]
	.sort(compare)
	.join(", ");

let games = [
	"Fallout",
	"Resident Evil",
	"The Sims",
	"Perfect Vermin",
	"DOOM",
	"Carrion",
	"Danganronpa",
]
	.sort(compare)
	.join(", ");

let movies = [
	"Back to the Future",
	"Fight Club",
	"Heathers",
	"Beetlejuice",
	"Men In Black",
	"American Psycho",
	"Scream",
]
	.sort(compare)
	.join(", ");

let tv = [
	"American Horror Story",
	"Chainsaw Man",
	"Community",
	"Star Trek",
	"Better Call Saul",
	"Breaking Bad",
	"RuPaul's Drag Race",
	"Death Note",
	"What We Do in the Shadows",
	"The Umbrella Academy",
]
	.sort(compare)
	.join(", ");

let books = ["Invisible Monsters"].sort(compare).join(", ");
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<ul>
			<li>
				<strong>Names:</strong>
				{/*Prettier bug results in extra whitespace here*/}
				{
					yesNames.map((name: string) => (
						<span class="ml-[1ch] font-bold text-accent after:font-normal after:text-textColor after:content-[','] last:after:content-['']">
							{name}
						</span>
					))
				}
				{
					okNames.map((name: string) => (
						<span class="ml-[1ch] after:content-[','] last-of-type:after:content-['']">{name}</span>
					))
				}
			</li>
			<strong>Pronouns:</strong>
			{
				okPronouns.map((pronoun: string) => (
					<span class="ml-[1ch] font-bold text-accent after:font-normal after:text-textColor after:content-[','] last-of-type:font-normal last-of-type:text-textColor last-of-type:after:content-['']">
						{pronoun}
					</span>
				))
			}
			<li>
				<strong class="mr-[1ch]">Age:</strong>
				{profileData.profiles.en.age}
			</li>
			<li>
				{/* TODO: #13 Make and link pride page */}
				<strong class="mr-[1ch]">Gender:</strong><a class="cactus-link" href="/pride#gender"
					>oh boy that is a can of worms</a
				>
			</li>
			<li>
				<strong class="mr-[1ch]">Orientation:</strong><a
					class="cactus-link"
					href="/pride#orientation">wouldn't you know it another can of worms</a
				>
			</li>
			<li><strong><a class="cactus-link" href="/kinlist">Kinlist!!</a></strong></li>
		</ul>

		{/* TODO: #14 Highlight absolute favorites */}
		<h1 class="title">Things I Like</h1>
		<ul>
			<li class="my-2">
				<strong class="mr-[1ch]">Books:</strong>{books}
			</li>
			<li class="my-2">
				<strong class="mr-[1ch]">Games:</strong>{games}
			</li>
			<li class="my-2"><strong class="mr-[1ch]">Movies:</strong>{movies}</li>
			<li class="my-2">
				<strong class="mr-[1ch]">Music:</strong>{music}
			</li>
			<li class="my-2"><strong class="mr-[1ch]">TV:</strong>{tv}</li>
		</ul>
	</div>
</PageLayout>
